@import "Color";
.home {
    background-color: $forthColor;
  .image_container {
    padding: 5rem;
    .typewrting_container {
        text-align: center;
    }
  }
  .product_conatiner {
    background-color: $forthColor;
    h1 {
      text-align: center;
    }
  }
}
.typewriterclass {
    font-size: xx-large;
    font-weight: 900;
}